.profile__photo {
  margin-right: 18px;
  margin-bottom: 22px;
}
.profile__photo:nth-child(3) {
  margin-right: 0px;
}
.profile__photo:nth-child(4) {
  margin-bottom: 0px;
}
.profile__photo:nth-child(5) {
  margin-bottom: 0px;
}
.profile__photo:nth-child(6) {
  margin-right: 0px;
  margin-bottom: 0px;
}
@media screen and (max-width: 882px) {
  .profile__photo:nth-child(3) {
    margin-right: 18px;
  }
  .profile__photo:nth-child(6) {
    margin-right: 0px;
  }
  .profile__photo:nth-child(4) {
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .profile__photo:nth-child(2) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 582px) {
  .profile__photo:nth-child(4) {
    margin-bottom: 20px;
  }
  .profile__photo:nth-child(5) {
    margin-bottom: 20px;
  }
  .profile__photo {
    margin-right: 0px;
  }
  .profile__photo:nth-child(6) {
    margin-right: 0px;
  }
  .profile__photo:nth-child(3) {
    margin-right: 0px;
  }
}
