.profile__about {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0px;
  margin-top: 4px;
}
@media screen and (max-width: 882px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
  }
}
