.popup-add__case {
    max-width: 80%;
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 375px) {
    .popup-add__case {
      height: 285px;
    }
  }