.profile__button-like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-color: initial;
  width: 21px;
  height: 18px;
  border: none;
  margin-right: 18px;
}
