.profile__author {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #ffffff;
  margin: 0px;
}
@media screen and (max-width: 882px) {
  .profile__author {
    font-size: 27px;
    line-height: 56px;
  }
}
